# Ignore all files inside the specified directories
/Include/*
/Lib/*
/Scripts/*
/Share/*

# Ignore the pyvenv.cfg file
pyvenv.cfg

# Ignore all .mp3 and .wav files
*.mp3
*.wav

#ignore all pycache directories
/__pycache__/*