# Ignore all files inside the specified directories
/Include/*
/Lib/*
/Scripts/*
/Share/*

# Ignore the pyvenv.cfg file
pyvenv.cfg

# Ignore all .txt, .json, .mp3 and .wav files
*.txt
!requirements.txt
*.json
*.mp3
*.wav

#ignore all pycache directories
*/__pycache__/*
/__pycache__/*